.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "LouizeDisplay", serif;
}

input[type="file"] {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin: 10px;
}
